img {
    display: inline-block;
    position: absolute;
    top: 7.5vh;
    right: 0;
    height: 84.4vh;
    width: 100vw;
    z-index: -1;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 50vh;
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 50px;
}
.input_form_signin{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#username{
    background-color: #f7f7f7;
}
#password{
    background-color: #eaeaea;
    color: #333;
    font-weight: bold;
}
.button_form{
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}